* {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica,"Lato", Arial, "Lucida Grande", sans-serif;
}

body {
    background: #FFF;
    font-weight:300;
    -webkit-font-smoothing: antialiased;
}

.navbar-brand {
	/*letter-spacing: 1px;*/
	font-family:'Merriweather';
	font-style: italic;
	font-weight:700;
	padding-left:0px;
	font-size:25pt;
	//text-shadow: 1px 1px 0px #ccc;
	margin-right:50px;
	padding-top:0px;
}

.navbar {
	background:transparent;
	padding-top:15px;
	//background:#8e12db;
}

.navbar .container-fluid, .navbar {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

.navbar .navbar-nav {
	margin-right:-30px !important;
}

#addBountyBtn {

}

#searchIssues {
	border-width:2px;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;
}

.back-link {
	font-size:13pt;
}

button[type="button"],button[type="submit"]{
	outline:none !important;
}

.outermost {
	margin-left:100px;
	margin-right:100px;
}

.hidden {
	display:none;
}

html, body {height: 100%;}

.outermost {min-height: 100%;}

#footerfixer {
	overflow:auto;
	padding-bottom: 100px;
	margin-bottom:40px;
}  /* must be same height as the footer */

footer {
	position: relative;
	margin-top: -100px; /* negative value of footer height */
	height: 100px;
	clear:both;
	background:royalblue;
	color:#333;
	border-top:3px solid #8EB6FF;
} 

footer a {
	color:white;
}

footer a:hover {
	color:white;
}

footer a:active {
	color:#333;
}

footer .row div {
	padding-top:38px;
	text-align:center;
}

footer .row span {
	padding-left:20px;
	padding-right:20px;
}

#create-bounty input {
	outline:none !important;
}
#claim-bounty:hover {
	margin-top:6px !important;
}
#add-bounty:hover {
	margin-top:8px !important;
}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

.navbar {
	border:0px;
	border-radius:0px;
}