* {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica,"Lato", Arial, "Lucida Grande", sans-serif;
}

body {
    background: #FFF;
    font-weight:300;
    -webkit-font-smoothing: antialiased;
}

.navbar-brand {
	letter-spacing: 1px;
}

.navbar .container-fluid, .navbar {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

addBountyBtn {

}

.back-link {
	font-size:13pt;
}

button[type="button"],button[type="submit"]{
	outline:none !important;
}

.outermost {
	margin-left:100px;
	margin-right:100px;
}

.hidden {
	display:none;
}

html, body {height: 100%;}

.outermost {min-height: 100%;}

#footerfixer {
	overflow:auto;
	padding-bottom: 100px;
	margin-bottom:40px;
}  /* must be same height as the footer */

footer {
	position: relative;
	margin-top: -100px; /* negative value of footer height */
	height: 100px;
	clear:both;
	background:royalblue;
	color:#333;
	border-top:2px solid #8EB6FF;
} 

footer a {
	color:white;
}

footer a:hover {
	color:white;
}

footer a:active {
	color:#333;
}

footer .row div {
	padding-top:38px;
	text-align:center;
}

footer .row span {
	padding-left:20px;
	padding-right:20px;
}



/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}