* {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica,"Lato", Arial, "Lucida Grande", sans-serif;
}

body {
    background: #FFF;
    font-weight:300;
    -webkit-font-smoothing: antialiased;
}

.navbar-brand {
	letter-spacing: 1px;
}

addBountyBtn {

}