* {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica,"Lato", Arial, "Lucida Grande", sans-serif;
}

/* * {
	 background:none;
	 filter:none;
	 box-shadow:none;
	 border-radius:0px;
	 border:none;
}*/

body {
    background: #FFF;
    font-weight:300;
    -webkit-font-smoothing: antialiased;
}
/*
div.container {
    background: white;
}

textarea,input[type="text"] {
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
	-moz-box-shadow:none !important;
	border:2px solid #ddd;
	outline:none !important;
	border-radius:0px;
	border-width:1px;
}

.navbar-inner{
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
	box-shadow:none !important;
	background:white;
	border:0px;
}

.nav-list {
	border:1px solid #ddd;
	padding-top:10px;
}

.sidebar-nav-fixed{
	height:100%;/*#TENNIS*/
}

.active a {
	background:white !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
	-moz-box-shadow:none !important;
	text-decoration:underline !important;
}

#filterBy a {
	margin-left:5px;
}

div.container h1 {
    margin-top: 0px;
}

div.container textarea.span11 {
    height: 20px;
}
.status-box {
	margin-top:5px;
}

div.status{
	width:20px;
	height:20px;
	border-radius:50px;
	font-size:20px;
	color:#fff;
	line-height:100px;
	text-align:center;
}

div.sc0 { /*Status: not acknowledged*/
	/*background:#AAA*/
	background:transparent;
	border:1px solid #DDDDDD;
}
div.sc1 { /*Status: acknowledged*/
	background:#FF0;
	border:1px solid #FF0;
}
div.sc2 { /*Status: acknowledged and in progress*/
	background:#2eabe6;
	border:1px solid #2eabe6;
}
div.sc3 { /*Status: complete*/
	background:#0F0;
	border:1px solid #0F0;
}
div.sc4 { /*Status: rejected*/
	background:#D41528;
	border:1px solid #D41528;
}

td.status {
	width:28px;
}

#filterBy .active{
	background-image: none;
	outline: 0;
	border:1px solid #ddd;
}

#filterBy a:hover {
	border:1px solid rgb(89, 180, 222);
	text-decoration:none;
}

#filterBy {
	margin-top:5px;
	display:inline;
	float:right;
	position:relative;
}

#filterBy a {
	padding:5px;
	//border-radius: 4px;

	color:#666;
	border:1px solid white;

	cursor:pointer;
}

.table td {
	border-top:1px solid #eee;
}

.nav-header {
	color:#666;
}

#tableHeaderDiv {
	color:#999;
	margin:5px 0px 5px 0px;
	height:30px;
}

#numResults {
	max-width:400px;
	float:left;

}

.hero-unit-light {
	padding-left:40px !important;
	padding-right:10px !important;
}

.navbar .brand {
	margin-left:-17px;
}

#postform textarea {
	font-weight:200!important;
	margin-bottom:0px;
}
#postform div {
	margin-bottom:0px;
}
#postform .btn {
	font-weight:200!important;
	margin-left:5px;
	height:50px;
}
#postform{
	margin-top:10px;
	margin-bottom:0px;
}

.navbar-text input[type="text"] {
	width:150px;
	font-size:12px;
	margin:1px 0px 5px 2px;
}

.currentposts {
	margin-top:5px;
}

.entryNodeText {
	float:left;
	white-space: pre;           /* CSS 2.0 */
	white-space: pre-wrap;      /* CSS 2.1 */
	white-space: pre-line;      /* CSS 3.0 */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -hp-pre-wrap;  /* HP Printers */
	word-wrap: break-word;      /* IE 5+ */
}

footer {
	padding-left:40px;
}
  .navbar {
    letter-spacing: 1px !important;
  }

  .sidebar-nav-fixed {
    padding:0;
    position:fixed;
    right:20px;
    top:55px;
    width:250px;
  }

  .row-fluid > .span-fixed-sidebar {
    margin-right: 290px;
  }

 .hero-unit-light {
  padding: 60px;
  margin-bottom: 30px;
 /* font-size: 18px;
  font-weight: 200;
  line-height: 30px;*/
  color: inherit;
  /*background-color: #eeeeee;*/
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

}

.table td {
  line-height:auto;

  padding: 5px 8px 7px 0;

}

.outline:hover{
  text-decoration: none;
}

td.ideaTxt {
	/*width:100%;*/
}

td.ideaTxt > b {
	/*width:100%;*/
	font-weight:900;
}


ul.entryNode {
	list-style-type: none;
	padding-top:0
	
}

ul.entrylist {
	list-style-type: none;
	padding-top:0
	
}

ul.entryNode table{
	padding-top:5px;		
	margin-bottom:0;
	
}

ul.entryNode td {
	
	
}

#currentposts > ul.entrylist {

	padding-left:0;
	margin-left:0;
	
}
#currentposts > ul.entryNode {

	padding-left:0;
	margin-left:0;
	
}
#currentposts > ul.entryNode > li > ul.entrylist {

	padding-left:0;
	margin-left:0;
	
}

#currentposts > ul.entryNode > li > ul.entrylist > li > ul.entryNode {

  padding-left:1px;
  margin-left:0;
  
}

#currentposts .suggname {
  text-decoration:none;
  /*color:#D41528;*/
  color:#090909;
  cursor:text!important;
}

.ideaTxt {
  color:#777;
}
*/
